<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Pokedex</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/swig.js"></script>
	<style>
	.poison{ background-color: purple; color:white; border-radius: 5px; opacity: 0.8;}
	.grass, .bug{ background-color: green; color:white; border-radius: 5px; opacity: 0.8;}
	.fire{ background-color: red; color:white; border-radius: 5px; opacity: 0.8;}
	.water{ background-color: #0079a1; color:white; border-radius: 5px; opacity: 0.8;}
	.normal{ background-color: #c1b435; color:white; border-radius: 5px; opacity: 0.8;}
	.fairy{ background-color: #ae64bd; color:white; border-radius: 5px; opacity: 0.8;}
	.ground{ background-color: brown; color:white; border-radius: 5px; opacity: 0.8;}
	.electric{ background-color: yellow; color:black; border-radius: 5px; opacity: 0.8;}
	</style>
</head>
<body>
	<!-- BARRA DE NAVEGACION -->
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Pokedex</a>
		    </div>
		  </div><!-- /.container-fluid -->
		</nav>
	<!-- FIN BARRA DE NAVEGACION -->

	
	<div class="container">

		<!-- ENCABEZADO -->
			<div class="row">
				<div class="page-header">
				  <h3>Pokedex. <span style="font-size: 14px;">Utilizando Swig como Template Engine</span>
				  <div style="width: 200px;display:inline-block;float:right;">
				  	<select id="rango" class="form-control" style="display:inline-block;width: 100px;"></select>
				  	<button id="consultar" class="btn btn-primary btn-sm">Consultar</button>
				  </div>
				  </h3>
				</div>
			</div>
		<!-- FIN ENCABEZADO -->

		<div id="pokemon_container" class="row"></div>



	</div>
	<script type="text/template" id="template">
		{% for pk in pokemons %}
			<div class="col-md-3">
				<div class="panel panel-default">
				  <div class="panel-heading" style="text-align:center;">
				  	#{{ pk.pokemon.pkdx_id }} {{ pk.pokemon.name }}
				  </div>
				  <div class="panel-body">
				    <div>
				    	<a href="http://pokeapi.co{{ pk.pokemon.sprite.image }}" class="thumbnail" target="_blank">
					      <img style="height:120px;" src="http://pokeapi.co{{ pk.pokemon.sprite.image }}" alt="...">
					    </a>
				    </div>
				    <div>
				    	<p><strong>Attack:</strong> 
				    		<span class="text-capitalize">{{ pk.pokemon.attack }}</span></p>
						<p><strong>Defense:</strong> <span class="text-capitalize">{{ pk.pokemon.defense }}</span></p>
						<p><strong>Types:</strong>
						{% for type in pk.pokemon.types %}
							<span class="label label-default {{ type.name }} text-capitalize">{{ type.name }}</span>
						{% endfor %}
						</p>
				    </div>
				  </div>
				</div>
			</div>
		{% endfor %}
	</script>
	<script>
		var html = $("#template").html();
		var render = swig.compile( html );

		var llenarSelect = function(){
			var inicio = 1;
			var diferencia = 7;
			for (var i = 1; i <= 90; i++) {
				var fin = inicio+diferencia;
				if(fin>718) fin = 718;
				var html = "<option value='"+inicio+"_"+fin+"'>"+inicio+" al "+fin+"</option>";
				$("#rango").append(html);
				inicio = fin+1;
			};
		};

		var Pokemon = function(id){
			this.url_pokemon = "http://pokeapi.co/api/v1/pokemon/"+id;
			this.url_sprite = "http://pokeapi.co";
			this.pokemon = {};
			var self = this;
			$.when(
				$.get(this.url_pokemon, function(data){
					self.pokemon = data;
					self.url_sprite = self.url_sprite+data.sprites[0].resource_uri;	
				})
			).then(function(data){
				$.get(self.url_sprite, function(data){
					self.pokemon['sprite'] = data;
				});
			});
			return this;
		};

		var crearPokemons = function()
		{
			$("#consultar").addClass('disabled');
			var lista_pokemons = [];
			var rango = $("#rango").val().split("_");
			for( var i = parseInt(rango[0]); i <= parseInt(rango[1]); i++ ){
				lista_pokemons.push( new Pokemon(i) );
			}
			setTimeout(function(){
				var json = {
					pokemons : lista_pokemons
				};
				var html = render( json );
				$("#pokemon_container").html(html);
				$("#consultar").removeClass('disabled');
			}, 3000);
		}

		llenarSelect();
		crearPokemons();

		$("#consultar").on('click', crearPokemons);

	</script>
</body>
</html>